#*********************************************************************
#   Copyright 2019 Regents of the University of California
#   All rights reserved
#*********************************************************************
services:
  zoo:
    container_name: zoo
    image: public.ecr.aws/docker/library/zookeeper:3.9.4
    ports:
    - published: 8084
      target: 2181
    restart: unless-stopped
    stdin_open: true
    tty: true
